@charset "UTF-8";

.w-100{
  margin: 50px auto;
  background: rgba(0,0,0,.125);
  height: 1px;
}
.row > .col{ margin-bottom: 25px; }
.container > h3{
  text-align: center;
  line-height: 36px;
  height: 36px;
  color:#333333;
  margin-bottom: 30px;
}

#footer .col .inner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

/*font-size*/
.fs-10 { font-size: 10px; }

.fs-12 { font-size: 12px; }

.fs-14 { font-size: 14px; }

.fs-16 { font-size: 16px; }

.fs-18 { font-size: 18px; }

.fs-20 { font-size: 20px; }

.fs-22 { font-size: 22px; }

.fs-24 { font-size: 24px; }

.fs-26 { font-size: 26px; }

.fs-28 { font-size: 28px; }

.fs-30 { font-size: 30px; }

.fs-32 { font-size: 32px; }

.fs-34 { font-size: 34px; }

.fs-36 { font-size: 36px; }

.fs-38 { font-size: 38px; }

.fs-40 { font-size: 40px; }

.fs-42 { font-size: 42px; }

.fs-44 { font-size: 44px; }

.fs-46 { font-size: 46px; }

.fs-48 { font-size: 48px; }

.fs-50 { font-size: 50px; }

.fs-52 { font-size: 52px; }

.fs-54 { font-size: 54px; }

.fs-56 { font-size: 56px; }

.fs-58 { font-size: 58px; }

.fs-60 { font-size: 60px; }

.fs-62 { font-size: 62px; }

.fs-64 { font-size: 64px; }

.fs-66 { font-size: 66px; }

.fs-68 { font-size: 68px; }

.fs-70 { font-size: 70px; }

.fs-72 { font-size: 72px; }

.fs-74 { font-size: 74px; }

.fs-76 { font-size: 76px; }

.fs-78 { font-size: 78px; }

.fs-80 { font-size: 80px; }

.fs-82 { font-size: 82px; }

.fs-84 { font-size: 84px; }

.fs-86 { font-size: 86px; }

.fs-88 { font-size: 88px; }

.fs-90 { font-size: 90px; }

.fs-92 { font-size: 92px; }

.fs-94 { font-size: 94px; }

.fs-96 { font-size: 96px; }

.fs-98 { font-size: 98px; }

.fs-100 { font-size: 100px; }

@media all and (max-width: 1200px) {
  .fs-14 { font-size: 12px; }
  .fs-16 { font-size: 14px; }
  .fs-18 { font-size: 16px; }
  .fs-20 { font-size: 18px; }
  .fs-22 { font-size: 20px; }
  .fs-24 { font-size: 22px; }
  .fs-26 { font-size: 24px; }
  .fs-28 { font-size: 26px; }
  .fs-30 { font-size: 28px; }
  .fs-32 { font-size: 30px; }
  .fs-34 { font-size: 32px; }
  .fs-36 { font-size: 34px; }
  .fs-38 { font-size: 36px; }
  .fs-40 { font-size: 38px; }
  .fs-42 { font-size: 40px; }
  .fs-44 { font-size: 42px; }
  .fs-46 { font-size: 44px; }
  .fs-48 { font-size: 46px; }
  .fs-50 { font-size: 48px; }
  .fs-52 { font-size: 50px; }
  .fs-54 { font-size: 52px; }
  .fs-56 { font-size: 54px; }
  .fs-58 { font-size: 56px; }
  .fs-60 { font-size: 58px; }
  .fs-62 { font-size: 60px; }
  .fs-64 { font-size: 62px; }
  .fs-66 { font-size: 64px; }
  .fs-68 { font-size: 66px; }
  .fs-70 { font-size: 68px; }
  .fs-72 { font-size: 70px; }
  .fs-74 { font-size: 72px; }
  .fs-76 { font-size: 74px; }
  .fs-78 { font-size: 76px; }
  .fs-80 { font-size: 78px; }
  .fs-82 { font-size: 80px; }
  .fs-84 { font-size: 82px; }
  .fs-86 { font-size: 84px; }
  .fs-88 { font-size: 86px; }
  .fs-90 { font-size: 88px; }
  .fs-92 { font-size: 90px; }
  .fs-94 { font-size: 92px; }
  .fs-96 { font-size: 94px; }
  .fs-98 { font-size: 96px; }
  .fs-100 { font-size: 98px; }
  }

@media all and (max-width: 980px) {
  .fs-16 { font-size: 12px; }
  .fs-18 { font-size: 14px; }
  .fs-20 { font-size: 15px; }
  .fs-22 { font-size: 17px; }
  .fs-24 { font-size: 18px; }
  .fs-26 { font-size: 20px; }
  .fs-28 { font-size: 21px; }
  .fs-30 { font-size: 23px; }
  .fs-32 { font-size: 24px; }
  .fs-34 { font-size: 26px; }
  .fs-36 { font-size: 27px; }
  .fs-38 { font-size: 29px; }
  .fs-40 { font-size: 30px; }
  .fs-42 { font-size: 32px; }
  .fs-44 { font-size: 33px; }
  .fs-46 { font-size: 35px; }
  .fs-48 { font-size: 36px; }
  .fs-50 { font-size: 38px; }
  .fs-52 { font-size: 39px; }
  .fs-54 { font-size: 41px; }
  .fs-56 { font-size: 42px; }
  .fs-58 { font-size: 44px; }
  .fs-60 { font-size: 45px; }
  .fs-62 { font-size: 47px; }
  .fs-64 { font-size: 48px; }
  .fs-66 { font-size: 50px; }
  .fs-68 { font-size: 51px; }
  .fs-70 { font-size: 53px; }
  .fs-72 { font-size: 54px; }
  .fs-74 { font-size: 56px; }
  .fs-76 { font-size: 57px; }
  .fs-78 { font-size: 59px; }
  .fs-80 { font-size: 60px; }
  .fs-82 { font-size: 62px; }
  .fs-84 { font-size: 63px; }
  .fs-86 { font-size: 65px; }
  .fs-88 { font-size: 66px; }
  .fs-90 { font-size: 68px; }
  .fs-92 { font-size: 69px; }
  .fs-94 { font-size: 71px; }
  .fs-96 { font-size: 72px; }
  .fs-98 { font-size: 74px; }
  .fs-100 { font-size: 75px; }
  }

/* @media all and (max-width: 770px) {
  .fs-18 { font-size: 12px; }
  .fs-20 { font-size: 13px; }
  .fs-22 { font-size: 14px; }
  .fs-24 { font-size: 16px; }
  .fs-26 { font-size: 17px; }
  .fs-28 { font-size: 18px; }
  .fs-30 { font-size: 20px; }
  .fs-32 { font-size: 21px; }
  .fs-34 { font-size: 22px; }
  .fs-36 { font-size: 23px; }
  .fs-38 { font-size: 25px; }
  .fs-40 { font-size: 26px; }
  .fs-42 { font-size: 27px; }
  .fs-44 { font-size: 29px; }
  .fs-46 { font-size: 30px; }
  .fs-48 { font-size: 31px; }
  .fs-50 { font-size: 33px; }
  .fs-52 { font-size: 34px; }
  .fs-54 { font-size: 35px; }
  .fs-56 { font-size: 36px; }
  .fs-58 { font-size: 38px; }
  .fs-60 { font-size: 39px; }
  .fs-62 { font-size: 40px; }
  .fs-64 { font-size: 42px; }
  .fs-66 { font-size: 43px; }
  .fs-68 { font-size: 44px; }
  .fs-70 { font-size: 46px; }
  .fs-72 { font-size: 47px; }
  .fs-74 { font-size: 48px; }
  .fs-76 { font-size: 49px; }
  .fs-78 { font-size: 51px; }
  .fs-80 { font-size: 52px; }
  .fs-82 { font-size: 53px; }
  .fs-84 { font-size: 55px; }
  .fs-86 { font-size: 56px; }
  .fs-88 { font-size: 57px; }
  .fs-90 { font-size: 59px; }
  .fs-92 { font-size: 60px; }
  .fs-94 { font-size: 61px; }
  .fs-96 { font-size: 62px; }
  .fs-98 { font-size: 64px; }
  .fs-100 { font-size: 65px; }
   }

@media all and (max-width: 520px) {
  .fs-24 { font-size: 12px; }
  .fs-26 { font-size: 13px; }
  .fs-28 { font-size: 14px; }
  .fs-30 { font-size: 15px; }
  .fs-32 { font-size: 16px; }
  .fs-34 { font-size: 17px; }
  .fs-36 { font-size: 18px; }
  .fs-38 { font-size: 19px; }
  .fs-40 { font-size: 20px; }
  .fs-42 { font-size: 21px; }
  .fs-44 { font-size: 22px; }
  .fs-46 { font-size: 23px; }
  .fs-48 { font-size: 24px; }
  .fs-50 { font-size: 25px; }
  .fs-52 { font-size: 26px; }
  .fs-54 { font-size: 27px; }
  .fs-56 { font-size: 28px; }
  .fs-58 { font-size: 29px; }
  .fs-60 { font-size: 30px; }
  .fs-62 { font-size: 31px; }
  .fs-64 { font-size: 32px; }
  .fs-66 { font-size: 33px; }
  .fs-68 { font-size: 34px; }
  .fs-70 { font-size: 35px; }
  .fs-72 { font-size: 36px; }
  .fs-74 { font-size: 37px; }
  .fs-76 { font-size: 38px; }
  .fs-78 { font-size: 39px; }
  .fs-80 { font-size: 40px; }
  .fs-82 { font-size: 41px; }
  .fs-84 { font-size: 42px; }
  .fs-86 { font-size: 43px; }
  .fs-88 { font-size: 44px; }
  .fs-90 { font-size: 45px; }
  .fs-92 { font-size: 46px; }
  .fs-94 { font-size: 47px; }
  .fs-96 { font-size: 48px; }
  .fs-98 { font-size: 49px; }
  .fs-100 { font-size: 50px; }
 } */
