@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'NanumSquareRound';
    color: #4a4a4a;
    font-weight: bold;
}
a{
  color: #4a4a4a;
}

#header{
  border-top: 3px solid #ff7c98;
  background: url('../img/bg_header.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-link{
  color: #4a4a4a;
}
.nav-link:focus, .nav-link:hover{
  color: #ff7c98;
}

.dropdown-menu{
  border-color: #ff7c98;
}

.dropdown-item{
  color: #777;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
}

.dropdown-item:focus, .dropdown-item:hover{
  background-color: #fbc8d3;
  color: #fff;
  font-weight: bold;
}

.navbar-toggler{
  background-color: none;
  border: none;
  box-shadow: none;
}

.navbar-toggler .navbar-toggler-icon{
  background-image: url('../img/icon_menu.png');
  border: none;
}

.navbar-toggler:focus{
  box-shadow: none;
  outline: none;
}

.title-wrap{
  width: 100%;
  background: -webkit-linear-gradient(180deg, rgb(255, 228, 241), rgb(255, 255, 255));
  background: linear-gradient(180deg, rgb(255, 228, 241), rgb(255, 255, 255));
}

.container, .container-fluid{
  text-align: center;
}

.side-left{
  position: absolute;
  top: 74%;
  left: 10%;
  animation: side1 2.5s infinite;
}

.side-left1{
  position: absolute;
  top: 40%;
  left: 20%;
  animation: side2 2.5s infinite;
}

.side-right{
  position: absolute;
  top: 60%;
  right: 15%;
  animation: side3 4s infinite;
}

@keyframes side1 {
  0%{
    top: 74%;
  }
  25%{
    top: 73%;
  }
  50%{
    top: 75%;
  }
  75%{
    top: 73%;
  }
  100%{
    top: 74%;
  }
}

@keyframes side2 {
  0%{
    top: 39%;
  }
  25%{
    top: 38%;
  }
  50%{
    top: 40%;
  }
  75%{
    top: 38%;
  }
  100%{
    top: 39%;
  }
}

@keyframes side3 {
  0%{
    top: 59%;
  }
  25%{
    top: 58%;
  }
  50%{
    top: 60%;
  }
  75%{
    top: 58%;
  }
  100%{
    top: 59%;
  }
}

.container h3{
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 26px;
}

.del{
  border-radius: 10px;
  overflow: hidden;
}

.del p{
  height: 45px;
}

.card1{
  height: 165px;
}

.card-body .card-text{
  text-align: left;
}


.btn-primary{
  background: #ff7c98;
  border-color: #ff7c98;
}

.btn-primary:hover{
  background: #bf2a4a;
  border-color: #bf2a4a;
}

.btn-primary:focus{
  box-shadow: none;
}


.card-body a{
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.menu{
  position: relative;
}

.menu-txt{
  position: relative;
}

.menu-txt p{
  padding-top: 15px;
  color: #ff7c98;
}

.menu-txt .rain1{
  margin-right: 15px;
}

.menu-txt .rain2{
  margin-left: 15px;
}

.menu-txt .rain1 img{
  width: 30px;
  height: 30px;
}

.menu-txt .rain2 img{
  width: 30px;
  height: 30px;
}

.type2{
  padding: 20px;
  flex-direction: row;
  align-items: center;
  border: 3px solid rgba(255,124,152,0.5);
  border-radius: 15px;
}

.type2 img{
  max-width: 50%;
}

.card-body h6{
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
  color: #ff7c98;
}

.card-body .fc2{
  color: #666;
  line-height: 27px;
}

.sub-banner{
  width: 100%;
  height: 850px;
  margin-top: 150px;
  background: url('../img/bg_menu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-banner h2{
  margin-top: 70px;
  font-size: 40px;
  margin-bottom: 70px;
  color: #ff7c98;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.event-card{
  height: 520px;
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(255,124,152,0.5);
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}

.event1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event1>.card-text{
  text-align: center;
}

.store{
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 22px;
  font-weight: bold;
}

.col-lg-6 .card{
  cursor: pointer;
}

.sns{
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.sns h4{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sns .sns-wrap img{
  cursor: pointer;
}

#footer{
  border-bottom: 6px solid #ff7c98;
  background: url('../img/bg_header.gif');
  padding: 10px 20px 0 20px;
}

.foot-logo{
  margin: 20px 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.foot-info{
  flex-direction: row;
  justify-content: center;
}

.foot-info span{
  width: auto;
  color: #888;
  font-size: 12px;
  padding-bottom: 10px;
}

.flogo{
  margin: 20px;
}

.flogo img{
  margin: 5px;
}

.flogo .dropdown, .dropend, .dropstart, .dropup{
  display: inline-block;
}

.flogo .btn-secondary{
  background: none;
  border: 1px solid #d1cecc;
  color: #888;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus{
  box-shadow: none;
}

.familydrop{
  border: 1px solid #d1cecc;
}

.familydrop li a:hover{
  background: #f1f1f1;
  color: #777;
}

.copy{
  color: #999;
  font-size: 11px;
  padding-bottom: 15px;
}

.flavor-wrap{
  background: -webkit-linear-gradient(180deg, rgb(248, 84, 117), rgb(255, 255, 255));
  background: linear-gradient(180deg, rgb(248, 84, 117), rgb(255, 255, 255));
}

.flavor-wrap .flavor-icon{
  position: absolute;
  left: 28.5%;
}

.banner2 h2{
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 100px;
}

.banner2 h2>span.rain1{
  margin-right: 20px;
}

.banner2 h2>span img{
  width: 50px;
  height: 50px;
}

.banner2 h2>span.rain2{
  margin-left: 20px;
}

.banner2 .new-img{
  position: relative;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.new-text{
  position: relative;
  margin-top: 30px;
}

.new-text p{
  color: #fff;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 18px;
}

.new-text span{
  position: relative;
  display: block;
  color: #e84b52;
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.new-text span::before{
  content: '';
  position: absolute;
  width: 70px;
  height: 3px;
  background: #fff;
  transform: translate(50%);
  top: 4px;
}

.new-text strong{
  color: #e84b52;
  font-size: 24px;
  font-weight: bold;
}

.banner3{
  position: relative;
  height: 700px;
  background: url('../img/sub/flavor_img_2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner3 img{
  position: relative;
}

.banner3 .container{
  color: white;
  padding-top: 250px;
}

.banner3 h4{
  margin-top: 80px;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}

.banner3 p{
  margin-bottom: 10px;
  font-size: 24px;
}

.banner3 span{
  color: #fee101;
  font-size: 22px;
}

.menu-name{
  margin-top: 100px;
  margin-bottom: 80px;
}

.menu-name span{
  color: #222;
  font-weight: bold;
  font-size: 18px;
  padding: 0 20px;
}

.menu .card-text{
  text-align: center;
}

.menu .card-text h4{
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

.menu .card-text p{
  margin-bottom: 8px;
  color: #9d9d9d;
  font-size: 14px;
}

.menu .card-text p>span{
  margin-left: 5px;
  cursor: pointer;
}

.btn-warning{
  font-size: 12px;
  color: #fff;
  background-color: #d3c1ab;
  border-color: #d3c1ab;
  padding: 4px 20px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.btn-warning:hover{
  background: #fff;
  color: #d3c1ab;
  border-color: #d3c1ab;
}

.card-img, .card-img-bottom, .card-img-top{
  width: 85%;
}

.pagination{
  justify-content: center;
  margin-bottom: 100px;
}

.page-link{
  border: 1px solid #ff7c98;
  color: #ff7c98;
  border-radius: 100%;
  margin: 10px;
}

.page-link:hover{
  border: 1px solid #ff7c98;
  background: #ff7c98;
  color: #fff;
}

.page-link:focus{
  box-shadow: none;
  color: #fff;
  background: #ff7c98;
}

.page-item:last-child .page-link, .page-item:first-child .page-link{
  border-radius: 100%;
}
