@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'NanumSquareRound';
    color: #4a4a4a;
    font-weight: bold;
}
a{
  color: #4a4a4a;
  list-style: none;
  text-decoration: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
  padding: 0;
  overflow: hidden;
}

#header{
  border-top: 3px solid #ff7c98;
  background: url('../img/bg_header.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-link{
  color: #4a4a4a;
}
.nav-link:focus, .nav-link:hover{
  color: #beab9f;
}

.dropdown-menu{
  border: 1.5px solid #beab9f;
  background: rgba(190, 171, 159, 0.5);
}

.dropdown-item{
  color: #fff;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
}

.dropdown-item:focus, .dropdown-item:hover{
  background-color: #fff;
  color: #666;
  font-weight: bold;
}

.navbar-toggler{
  background-color: none;
  border: none;
  box-shadow: none;
}

.navbar-toggler .navbar-toggler-icon{
  background-image: url('../img/icon_menu.png');
  border: none;
}

.navbar-toggler:focus{
  box-shadow: none;
  outline: none;
}

.title-wrap{
  width: 100%;
  background: -webkit-linear-gradient(180deg, rgb(255, 228, 241), rgb(255, 255, 255));
  background: linear-gradient(180deg, rgb(255, 228, 241), rgb(255, 255, 255));
}

.container, .container-fluid{
  text-align: center;
}

.side-left{
  position: absolute;
  top: 74%;
  left: 10%;
  animation: side1 2.5s infinite;
}

.side-left1{
  position: absolute;
  top: 40%;
  left: 20%;
  animation: side2 2.5s infinite;
}

.side-right{
  position: absolute;
  top: 60%;
  right: 15%;
  animation: side3 4s infinite;
}

@media screen and ( max-width: 1300px ) {
  .side-left img{
    max-width: 150px;
    width: 100%;
  }
  .side-left1 img{
    max-width: 80px;
    width: 100%;
  }
  .side-right img{
    max-width: 120px;
    width: 100%;
  }
}

@media screen and ( max-width: 1000px ) {
  .side-left img{
    max-width: 100px;
    width: 100%;
  }
  .side-left1 img{
    max-width: 40px;
    width: 100%;
  }
  .side-right img{
    max-width: 80px;
    width: 100%;
  }
}

@keyframes side1 {
  0%{
    top: 74%;
  }
  25%{
    top: 73%;
  }
  50%{
    top: 75%;
  }
  75%{
    top: 73%;
  }
  100%{
    top: 74%;
  }
}

@keyframes side2 {
  0%{
    top: 39%;
  }
  25%{
    top: 38%;
  }
  50%{
    top: 40%;
  }
  75%{
    top: 38%;
  }
  100%{
    top: 39%;
  }
}

@keyframes side3 {
  0%{
    top: 59%;
  }
  25%{
    top: 58%;
  }
  50%{
    top: 60%;
  }
  75%{
    top: 58%;
  }
  100%{
    top: 59%;
  }
}

.container h3{
  font-weight: bold;
  margin-top: 120px;
  margin-bottom: 50px;
}

.del{
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.del p{
  height: 45px;
}

.card1{
  height: 165px;
}

.card-body .card-text{
  text-align: left;
}


.btn-primary{
  background: #ff7c98;
  border-color: #ff7c98;
}

.btn-primary:hover{
  background: #f4b4c2;
  border-color: #f4b4c2;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus{
  box-shadow: none;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle{
  background: #ff7c98;
  border-color: #ff7c98;
}

.btn-primary:focus{
  box-shadow: none;
  background: #ff7c98;
  border-color: #ff7c98;
}


.card-body a{
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.menu{
  position: relative;
}

.menu-txt{
  position: relative;
}

.menu-txt p{
  padding-top: 15px;
  color: #ff7c98;
}

.menu-txt .rain1{
  margin-right: 15px;
}

.menu-txt .rain2{
  margin-left: 15px;
}

.menu-txt .rain1 img{
  width: 30px;
  height: 30px;
}

.menu-txt .rain2 img{
  width: 30px;
  height: 30px;
}

.type2{
  padding: 20px;
  flex-direction: row;
  align-items: center;
  border: 3px solid rgba(255,124,152,0.5);
  border-radius: 15px;
}

.type2 img{
  max-width: 50%;
}

.card-body h6{
  font-weight: bold;
  margin-bottom: 20px;
  color: #ff7c98;
}

.card-body .fc2{
  color: #666;
  line-height: 27px;
}

.sub-banner{
  width: 100%;
  margin-top: 150px;
  background: url('../img/bg_menu.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.sub-banner h2{
  margin-top: 70px;
  margin-bottom: 70px;
  color: #ff7c98;
  font-weight: bold;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.event-card{
  height: 520px;
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(255,124,152,0.5);
  border-radius: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.event1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event1>.card-text{
  text-align: center;
}

.store{
  margin-top: 150px;
  margin-bottom: 50px;
  font-weight: bold;
}

.col-lg-6 .card{
  cursor: pointer;
}

.sns{
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.sns h4{
  font-weight: bold;
  margin-bottom: 30px;
}

.sns .sns-wrap img{
  cursor: pointer;
}

#footer{
  border-bottom: 6px solid #ff7c98;
  background: url('../img/bg_header.gif');
  padding: 10px 20px 0 20px;
}

.foot-logo{
  margin: 20px 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.foot-info{
  flex-direction: row;
  justify-content: center;
}

.foot-info span{
  width: auto;
  color: #888;
  font-size: 12px;
  padding-bottom: 10px;
}

.flogo{
  margin: 20px;
}

.flogo img{
  margin: 5px;
}

.flogo .dropdown, .dropend, .dropstart, .dropup{
  display: inline-block;
}

.flogo .btn-secondary{
  background: none;
  border: 1px solid #d1cecc;
  color: #888;
}

.btn-check:focus+.btn-secondary, .btn-secondary:focus{
  box-shadow: none;
}

.familydrop{
  border: 1px solid #d1cecc;
}

.familydrop li a:hover{
  background: #f1f1f1;
  color: #777;
}

.copy{
  color: #999;
  font-size: 11px;
  padding-bottom: 15px;
}

.flavor-wrap{
  background: -webkit-linear-gradient(180deg, rgb(248, 84, 117), rgb(255, 255, 255));
  background: linear-gradient(180deg, rgb(248, 84, 117), rgb(255, 255, 255));
}

.flavor-wrap .flavor-icon{
  position: absolute;
  left: 28.5%;
}

.banner2 h2{
  font-weight: bold;
  color: #fff;
  margin-bottom: 100px;
}

.banner2 h2>span.rain1{
  margin-right: 20px;
}

.banner2 h2>span img{
  width: 50px;
  height: 50px;
}

.banner2 h2>span.rain2{
  margin-left: 20px;
}

.banner2 .new-img{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.new-text{
  position: relative;
  margin-top: 30px;
}

.new-text p{
  color: #fff;
  font-weight: bold;
  margin-bottom: 8px;
}

.new-text span{
  position: relative;
  display: block;
  color: #e84b52;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.new-text span::before{
  content: '';
  position: absolute;
  width: 150px;
  height: 3px;
  background: #fff;
  top: 4px;
  left: 25%;
}

@media screen and ( max-width: 990px ) {
  .new-text span::before{
    left: 28%;
  }
}

@media screen and ( max-width: 767px ) {
  .new-text span::before{
    left: 36%;
  }
}

@media screen and ( max-width: 560px ) {
  .new-text span::before{
    left: 34%;
  }
  .banner2 h2{
    margin-top: 150px;
  }
}

.new-text strong{
  color: #e84b52;
  font-weight: bold;
}

.banner3{
  position: relative;
  height: 700px;
  background: url('../img/sub/flavor_img_2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner3 img{
  position: relative;
}

.banner3 .container{
  color: white;
  padding-top: 250px;
}

.banner3 h4{
  margin-top: 80px;
  font-weight: bold;
  margin-bottom: 15px;
}

.banner3 p{
  margin-bottom: 10px;
}

.banner3 span{
  color: #fee101;
}

.menu-row{
  padding: 20px;
}

.menu-name{
  margin-top: 100px;
  margin-bottom: 80px;
}

.menu-name span{
  color: #222;
  font-weight: bold;
  font-size: 18px;
  padding: 0 20px;
}

.menu .card-text{
  text-align: center;
}

.menu .menu-col{
  margin-bottom: 10;
  padding: 5;
}

.menu .menu-box{
  position: relative;
  border: 1px solid #ebebeb;
}

.menu-box h4{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

.menu-box .card-text p{
  margin-bottom: 8px;
  color: #9d9d9d;
  font-size: 14px;
}

.menu .card-text p>span{
  margin-left: 5px;
  cursor: pointer;
}

.rank{
  position: absolute;
  left: 10px;
}

.btn-warning{
  font-size: 12px;
  color: #fff;
  background-color: #d3c1ab;
  border-color: #d3c1ab;
  padding: 4px 20px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.btn-warning:hover{
  background: #fff;
  color: #d3c1ab;
  border-color: #d3c1ab;
}

.card-img, .card-img-bottom, .card-img-top{
  width: 70%;
}

.pagination{
  margin-top: 100px;
  justify-content: center;
  margin-bottom: 100px;
}

.page-link{
  border: 1px solid #ff7c98;
  color: #ff7c98;
  border-radius: 100%;
  margin: 10px;
}

.page-link:hover{
  border: 1px solid #ff7c98;
  background: #ff7c98;
  color: #fff;
}

.page-link:focus{
  box-shadow: none;
  color: #fff;
  background: #ff7c98;
}

.page-item:last-child .page-link, .page-item:first-child .page-link{
  border-radius: 100%;
}

.com-name{
  margin-top: 100px;
  margin-bottom: 50px;
}

.com-name span{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 24px;
  color: #222;
  font-weight: bold;
}

.com-name img{
  margin-bottom: 5px;
}

.com-name p{
  color: #666;
  margin-top: 20px;
}

.comjumbo{
  border: 1px solid #ff7c98;
  border-radius: 15px;
  padding: 20px 100px 20px 100px;
}

@media screen and ( max-width: 1400px ) {
  .tb-wrap{
    overflow: auto;
  }
  .table{
    white-space: nowrap;
    width: 1400px;
    overflow-x: scroll;
  }
}
@media screen and ( max-width: 980px ) {
  .comjumbo{
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}

.comjumbo h6{
  color: #333;
  min-width: 150px;
  font-weight: bold;
  white-space: nowrap;
}

.form-group{
  display: flex;
  align-items: flex-end;
}

.comdrop{
  display: flex;
  align-items: flex-end;
}

.form-control{
  color: #ced4da;
  font-size: 14px;
  width: 300px;
}

.comdrop1{
  background-color: #fff;
  border-color: #ced4da;
  color: #888;
  margin-left: 10px;
  width: 160px;
  text-align: left;
}

.comdrop1:hover{
  background: #fff;
  border-color: rgba(255,124,152,0.5);
  color: #888;
}

.btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus{
  box-shadow: none;
}

.comdrop1:focus{
  color: #888;
  background: #fff;
  border-color: rgba(255,124,152,0.5);
  box-shadow: 0 0 0 0.2px rgba(255,124,152,0.5);
}

.comdrop1::after{
  margin-left: 85px;
}

.form-control:focus{
  border-color: rgba(255,124,152,0.5);
  box-shadow: 0 0 0 0.2px rgba(255,124,152,0.5);
}

.form-check-input:focus{
  box-shadow: none;
  border-color: #ccc;
}

.form-check-input:checked{
  border-color: rgba(255,124,152,0.5);
  background-color: rgba(255,124,152,0.5);
}

.form-check-label{
  color: #888;
  font-size: 14px;
}

.form-check .form-check-input{
  margin-top: 7px;
}

.sec1{
  margin-top: 20px;
  display: flex;
  margin-bottom: 20px;
}

@media screen and ( max-width: 1400px ) {
  .comjumbo{
    padding: 20px 50px 20px 50px;
  }
}

@media screen and ( max-width: 1200px ) {
  .sec1{
    flex-direction: column;
  }
  .comdrop{
    margin-top: 20px;
  }
  .comjumbo h6{
    min-width: 100px;
  }
}

@media screen and ( max-width: 1000px ) {
  .mobile{
    display: none;
  }
  .comjumbo{
    padding: 20px;
  }
  .sec1{
    flex-direction: column;
  }
  .comdrop{
    margin-top: 20px;
  }
  .comjumbo h6{
    min-width: 80px;
  }
}

.sec3{
  line-height: 30px;
  display: flex;
}

.sec4{
  margin-top: 25px;
}

.com-txt{
  display: flex;
}

.com-text1{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: #9a9a9a;
  font-size: 12px;
}

.pink{
  margin-top: 20px;
  padding: 10px 50px;
  border-radius: 30px;
}

.com2{
  font-size: 22px;
  color: #b3b2b2;
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 5px;
}

.com3{
  font-weight: bold;
  margin-bottom: 50px;
}

.com3 span{
  color: #ff7c98;
}

.table{
  font-size: 12px;
  font-weight: 300;
  color: #666;
}

thead{
  border-top: 1px solid #212529;
  color: #333;
}

td:nth-of-type(odd){
  background-color: rgba(255,124,152,0.1);
}

.table>:not(caption)>*>*{
  padding: 10px;
}

.job{
  border: 2px solid #ff7c98;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 50px 20px;
  border-radius: 15px;
}

.job-box{
  margin-top: 50px;
  margin-bottom: 150px;
}

.job span{
  font-size: 12px;
  color: #d3c1ab;
}

.job h1{
  font-size: 60px;
  color: #222;
  margin-bottom: 30px;
}

.job p{
  font-size: 14px;
  margin-top: 30px;
}

.map{
  margin-bottom: 50px;
}

.way{
  text-align: left;
}

.way h6{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.way p{
  margin-bottom: 6px;
  font-style: 14px;
  font-weight: 300;
}

.login-page{
  height: 90vh;
}

.form2{
  margin: 0 auto;
}

.login-form{
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login-form h2{
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
}

.login-form label{
  margin-bottom: 10px;
  margin-top: 10px;
}

.save span{
  margin-left: 10px;
}

.가입{
  margin-bottom: 50px;
}

.link{
  color: #fff;
}

.link:hover{
  color: #fff;
}

.intro{
  color: #aca09a;
}

.tab {
  width: 1000px;
  margin-top: 90px;
}

.tab .tabs {
  width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  line-height: 60px;
  background: #fff;
  padding: 0;
}

.content{
  margin-bottom: 150px;
}

.tab .tabs li {
  background: none;
  color: #888;
  width: 300px;
  text-align: center;
  cursor: pointer;
}

.page{
  margin-bottom: 100px;
}

.tab .tabs li.current {
  color: #ff7c98;
}

.tab .tab-content {
  display: none;
}

.tab .tab-content.current {
  display: block;
}

.tab-box{
  display: flex;
  justify-content: space-around;
}

.tab-inner{
  min-width: 300px;
}

.abot-icon1{
  display: block;
  background: #ff7c98;
  width: 160px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
}

.tab1-name{
  margin-top: 50px;
  color: #beab9f;
}

.tab1-text{
  padding-top: 30px;
  font-weight: 300;
}

.tab-inner3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab3-text{
  text-align: left;
  margin-top: 20px;
  margin-left: 50px;
}
